<section class="row">
    <div class="col-md-12 mb30">
        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Time">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="col-md-12 mb30">
        <mat-card class="mb30 mt15 def-card">
            <mat-card-header class="header-blue def-card-header table-header">
                <mat-card-title>
                    <h5>Daily Cost</h5>
                    Delivery Receipts Statistics for 2018-04-11
                </mat-card-title>
            </mat-card-header>
            <mat-table #table [dataSource]="dataSource" class="mt15">

                <ng-container matColumnDef="country">
                    <mat-header-cell *matHeaderCellDef class="def-thead"> Country </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.country}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="networkName">
                    <mat-header-cell *matHeaderCellDef class="def-thead"> Network Name </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.networkName}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="networkCode">
                    <mat-header-cell *matHeaderCellDef class="def-thead"> Network Code </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.networkCode}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="send">
                    <mat-header-cell *matHeaderCellDef class="def-thead"> Total Sent </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.send}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="successful">
                    <mat-header-cell *matHeaderCellDef class="def-thead"> Successful </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.successful}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="accepted">
                    <mat-header-cell *matHeaderCellDef class="def-thead"> Accepted </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.accepted}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="failed">
                    <mat-header-cell *matHeaderCellDef class="def-thead"> Failed </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.failed}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="rejected">
                    <mat-header-cell *matHeaderCellDef class="def-thead"> Rejected </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.rejected}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="unknown">
                    <mat-header-cell *matHeaderCellDef class="def-thead"> Unknown </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.unknown}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="unreachable">
                    <mat-header-cell *matHeaderCellDef class="def-thead"> Unreachable </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.unreachable}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="successRate">
                    <mat-header-cell *matHeaderCellDef class="def-thead"> Success Rate </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.successRate}} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"></mat-paginator>

        </mat-card>
    </div>
</section>