<div class="page-wrapper">
    <!-- breadcrumb #S -->
    <ol class="breadcrumb">
        <li>Home</li>
    </ol>
    <!-- breadcrumb #E -->
    <section class="row">
        <div class="col-md-12">
            <section class="row">
                <div class="col-md-12">
                    <mat-card class="mb30">
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker" placeholder="Time">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <button mat-button>Search</button>
                    </mat-card>
                </div>
                <div class="col-md-3">
                    <mat-card class="mb30 bg-primary">
                        <section class="row">
                            <div class="col-md-4">
                                <mat-icon class="md-3 md-light">check_circle</mat-icon>
                            </div>
                            <div class="col-md-8 info">
                                <h5>Send</h5>
                                <h5 class="mb0">10000</h5>
                            </div>
                        </section>
                    </mat-card>
                </div>
                <div class="col-md-3">
                    <mat-card class="mb30 bg-danger">
                        <section class="row">
                            <div class="col-md-4">
                                <mat-icon class="md-3 md-light">highlight_off</mat-icon>
                            </div>
                            <div class="col-md-8 info">
                                <h5>Faild</h5>
                                <h5 class="mb0">1</h5>
                            </div>
                        </section>
                    </mat-card>
                </div>
                <div class="col-md-3">
                    <mat-card class="mb30 bg-warn">
                        <section class="row">
                            <div class="col-md-4">
                                <mat-icon class="md-3 md-light">error</mat-icon>
                            </div>
                            <div class="col-md-8 info">
                                <h5>Rejected</h5>
                                <h5 class="mb0">0</h5>
                            </div>
                        </section>
                    </mat-card>
                </div>
                <div class="col-md-3">
                    <mat-card class="mb30 bg-success">
                        <section class="row">
                            <div class="col-md-4">
                                <mat-icon class="md-3 md-light">payment</mat-icon>
                            </div>
                            <div class="col-md-8 info">
                                <h5>Cost</h5>
                                <h5 class="mb0">123.456</h5>
                            </div>
                        </section>
                    </mat-card>
                </div>
            </section>
        </div>
        <div class="col-md-9">
            <mat-card class="mb30">
                <h1 *ngFor="let user of userObservable">{{user.title}}</h1>
            </mat-card>
        </div>
        <div class="col-md-3">
            <section col-sm-12>
                <mat-card class="mb30">
                    <mat-card-header class="card-headline mb15">
                        <mat-card-title class="card-title">API 账户</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <ul class="list-unstyled">
                            <li>
                                <strong class="mb15">API SECRET</strong>
                                <p class="right-box">etwenexx</p>
                            </li>
                            <li>
                                <strong class="mb15">API SECRET</strong>
                                <div class="right-box">
                                    <small class="material-icons">&#xE061;</small>
                                    <small class="material-icons">&#xE061;</small>
                                    <small class="material-icons">&#xE061;</small>
                                    <small class="material-icons">&#xE061;</small>
                                    <small class="material-icons">&#xE061;</small>
                                    <small class="material-icons">&#xE061;</small>
                                </div>
                            </li>
                        </ul>
                    </mat-card-content>
                </mat-card>
            </section>
            <section col-sm-12>
                <mat-card class="mb30">
                    <mat-card-header class="card-headline mb15">
                        <mat-card-title class="card-title">快捷功能</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <ul class="list-unstyled">
                            <li>
                                <a>test</a>
                            </li>
                            <li>
                                <a>test</a>
                            </li>
                            <li>
                                <a>test</a>
                            </li>
                            <li>
                                <a>test</a>
                            </li>
                        </ul>
                    </mat-card-content>
                </mat-card>
            </section>
        </div>
    </section>
</div>