<section class="row">
    <div class="col-md-10 offset-1 mb30 mt30">
        <mat-card class="mb30 mt15 def-card">
            <mat-card-header class="header-blue def-card-header table-header">
                <mat-card-title>
                    <mat-icon class="md-3 md-light def-card-icon">send</mat-icon>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="mt30 form-pd">
                <h4>SMS Send Tool</h4>
                <div class="row">
                    <div class="col-md-12">
                        <form class='mt15'>
                            <div class="form-group mb30">
                                <mat-form-field class="def-input">
                                    <mat-label>SenderID</mat-label>
                                    <input matInput placeholder="SenderID must be composed of 3~11 Latin characters and numbers" required>
                                </mat-form-field>
                            </div>
                            <div class="form-group mb30">
                                <mat-form-field class="def-input">
                                    <mat-label>Phone Number</mat-label>
                                    <input matInput placeholder="The phone numbers must be in international format, such as 8618900000000">
                                </mat-form-field>
                            </div>
                            <div class="form-group mb30">
                                <div class="drop-container" ngFileDrop [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput">
                                    <p class="mb-0">
                                        Drag or
                                        <label class="upload-button">
                                            <input type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" multiple>
                                            import
                                        </label> a phone number list here
                                    </p>
                                </div>
                                <small class="text-muted">Only .txt format file can be imported, and the phone numbers should be separated by a comma (',').</small>
                                <div class="mt15" *ngFor="let f of files;">
                                    <mat-progress-bar mode="determinate" [value]="f?.progress?.data?.percentage"></mat-progress-bar>
                                    <small class="text-muted">{{ f.progress?.data?.speedHuman }} {{ f.progress?.data?.percentage }}%</small>
                                </div>
                            </div>
                            <div class="form-group mb30">
                                <mat-accordion>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title class="p-0">
                                                Phone number list
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <mat-list class="mb20">
                                            <mat-list-item>
                                                <div class="col-md-8">
                                                    <mat-checkbox color="primary">20180419221234567815</mat-checkbox>
                                                </div>
                                                <div class="col-md-4 text-right">
                                                    <button mat-icon-button color="primary">
                                                        <mat-icon aria-label="edit">mode_edit</mat-icon>
                                                    </button>
                                                    <button mat-icon-button color="primary">
                                                        <mat-icon aria-label="download">cloud_download</mat-icon>
                                                    </button>
                                                    <button mat-icon-button color="warn">
                                                        <mat-icon aria-label="delete">delete_forever</mat-icon>
                                                    </button>
                                                </div>
                                                <mat-divider></mat-divider>
                                            </mat-list-item>
                                            <mat-list-item>
                                                <div class="col-md-8">
                                                    <mat-checkbox color="primary">First phone number list of China</mat-checkbox>
                                                </div>
                                                <div class="col-md-4 text-right">
                                                    <button mat-icon-button color="primary">
                                                        <mat-icon aria-label="edit">mode_edit</mat-icon>
                                                    </button>
                                                    <button mat-icon-button color="primary">
                                                        <mat-icon aria-label="download">cloud_download</mat-icon>
                                                    </button>
                                                    <button mat-icon-button color="warn">
                                                        <mat-icon aria-label="delete">delete_forever</mat-icon>
                                                    </button>
                                                </div>
                                                <mat-divider></mat-divider>
                                            </mat-list-item>
                                            <mat-list-item>
                                                <div class="col-md-8">
                                                    <mat-checkbox color="primary">test</mat-checkbox>
                                                </div>
                                                <div class="col-md-4 text-right">
                                                    <button mat-icon-button color="primary">
                                                        <mat-icon aria-label="edit">mode_edit</mat-icon>
                                                    </button>
                                                    <button mat-icon-button color="primary">
                                                        <mat-icon aria-label="download">cloud_download</mat-icon>
                                                    </button>
                                                    <button mat-icon-button color="warn">
                                                        <mat-icon aria-label="delete">delete_forever</mat-icon>
                                                    </button>
                                                </div>
                                                <mat-divider></mat-divider>
                                            </mat-list-item>
                                        </mat-list>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                            <div class="form-group mb30">
                                <mat-form-field class="def-input">
                                    <textarea matInput #message placeholder="Message content" matTextareaAutosize matAutosizeMinRows="5" matAutosizeMaxRows="6" required></textarea>
                                    <mat-hint class="small" align="end">Character Count:{{message.value.length}} - Messages: 0</mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="form-group mb30">
                                <mat-checkbox color="primary">I have read <a href="javascript:void(0)">the terms of use</a></mat-checkbox>
                            </div>
                            <div class="form-group mb30">
                                <button mat-raised-button color="primary">Send</button>
                                <button mat-raised-button>Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</section>