$bgColor: #f0f0f0;
$white: #fff;
.nav-list {
    line-height: 100%;
    display: block;
    padding: 14px;
    text-decoration: none;
    margin: 15px 0;
    color: #565656;
}

ul li a:hover {
    background-color: rgba(220, 220, 220, .4);
    border-radius: 3px;
}

.sub-nav {
    border-bottom: 1px solid $bgColor;
}

.sub-nav li a {
    padding: 14px 14px 14px 50px;
    margin: 10px 0;
}

.open {
    -ms-transform: rotate(90deg);
    /* Internet Explorer */
    -moz-transform: rotate(90deg);
    /* Firefox */
    -webkit-transform: rotate(90deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(90deg);
    /* Opera */
    transform: rotate(90deg);
}

.closed {
    -ms-transform: rotate(0deg);
    /* Internet Explorer */
    -moz-transform: rotate(0deg);
    /* Firefox */
    -webkit-transform: rotate(0deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(0deg);
    /* Opera */
    transform: rotate(0deg);
}

.nav-style {
    width: 250px;
    padding: 10px 20px;
    overflow-x: hidden;
}

.def-toolbar {
    border-bottom: 1px solid #e3e3e3;
    background: none;
}

.def-toolbar img {
    width: 70%;
    margin: 0 auto;
}

.bgActive {
    color: #fff;
    background: linear-gradient(60deg, #26c6da, #00acc1);
    box-shadow: 0 12px 20px -10px rgba(0, 188, 212, .28), 0 4px 20px 0 rgba(0, 0, 0, .12), 0 7px 8px -5px rgba(0, 188, 212, .2);
    border-radius: 3px;
}

.subActive {
    border-radius: 3px;
    background-color: rgba(225, 225, 225, .26);
}