<ul class="nav-style">
    <mat-toolbar class="def-toolbar mb30">
        <img src='../assets/images/logo1.png'>
    </mat-toolbar>
    <li *ngFor="let item of menuList">
        <a class="nav-list" *ngIf="!item.subMenuList.length" (click)="toggleCollapse(item)" [class.bgActive]="item._collapse" href="javascript:void(0);" routerLink='{{item.route}}'>
            <i class="material-icons md-18 left mr15">{{item.icon}}</i>
            <span>{{item.name}}</span>
        </a>
        <a class="nav-list" *ngIf="item.subMenuList.length" (click)="toggleCollapse(item)" [class.subActive]="item._collapse" href="javascript:void(0);">
            <i class="material-icons md-18 left mr15">{{item.icon}}</i>
            <span>{{item.name}}</span>
            <i class="material-icons md-18 right" [class.open]="item._collapse">&#xE409;</i>
        </a>
        <ul class="sub-nav" *ngIf="item.subMenuList.length && item._collapse">
            <li *ngFor="let sub of item.subMenuList">
                <a class="nav-list" href="javascript:void(0);" routerLink="{{sub.route}}">{{sub.name}}</a>
            </li>
        </ul>
    </li>
</ul>