<section class="row">
    <div class="col-md-10 offset-1 mb30 mt30">
        <mat-card class="mb30 mt15 def-card">
            <mat-card-header class="header-blue def-card-header table-header">
                <mat-card-title>
                    <mat-icon class="md-3 md-light def-card-icon">send</mat-icon>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="mt30 form-pd">
                <h5>Change password</h5>
                <div class="row">
                    <div class="col-md-12">
                        <form class='mt15'>
                            <div class="form-group mb30">
                                <mat-form-field class="def-input">
                                    <input matInput placeholder="Email" disabled [value]="email">
                                </mat-form-field>
                            </div>
                            <div class="form-group mb30">
                                <mat-form-field class="def-input">
                                    <input matInput #input placeholder="Current Password" required>
                                </mat-form-field>
                            </div>
                            <div class="form-group mb30">
                                <mat-form-field hintLabel="The password must have at least 8 characters: at least 1 latin letter, 1 digit and 1 special character are required." class="def-input">
                                    <input matInput placeholder="Confirm Password" [type]="hide ? 'password' : 'text'">
                                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="form-group mb30">
                                <mat-form-field hintLabel="The password must have at least 8 characters: at least 1 latin letter, 1 digit and 1 special character are required." class="def-input">
                                    <input matInput placeholder="Confirm Password" [type]="hide ? 'password' : 'text'">
                                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="form-group mb30">
                                <button mat-raised-button color="primary">Send</button>
                                <button mat-raised-button>Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</section>