<section class="row">
    <div class="col-md-10 offset-1 mb30 mt30">
        <mat-card class="mb30 mt15 def-card">
            <mat-card-header class="header-blue def-card-header table-header">
                <mat-card-title>
                    <mat-icon class="md-3 md-light def-card-icon">lock_outline</mat-icon>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="mt30 form-pd">
                <h4>Change password</h4>
                <div class="row">
                    <div class="col-md-12">
                        <form class='mt15'>
                            <div class="form-group mb30">
                                <mat-form-field class="def-input">
                                    <mat-label>Email</mat-label>
                                    <input matInput disabled [value]="email">
                                </mat-form-field>
                            </div>
                            <div class="form-group mb30">
                                <mat-form-field class="def-input">
                                    <input matInput #input placeholder="Current Password" required>
                                </mat-form-field>
                            </div>
                            <div class="form-group mb30">
                                <mat-form-field class="def-input">
                                    <mat-label>New Password</mat-label>
                                    <input matInput placeholder="The password is made up of Latin letters, Numbers and special characters" [type]="hide ? 'password' : 'text'">
                                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="form-group mb30">
                                <mat-form-field class="def-input">
                                    <mat-label>Confirm Password</mat-label>
                                    <input matInput placeholder="The password is made up of Latin letters, Numbers and special characters" [type]="confirm ? 'password' : 'text'">
                                    <mat-icon matSuffix (click)="confirm = !confirm">{{confirm ? 'visibility' : 'visibility_off'}}</mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="form-group mb30">
                                <button mat-raised-button color="primary">Comfirm</button>
                                <button mat-raised-button>Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</section>