<section class="row">
    <div class="col-md-10 offset-1 mb30 mt30">
        <mat-card class="mb30 mt15 def-card">
            <mat-card-header class="header-blue def-card-header table-header">
                <mat-card-title>
                    <mat-icon class="md-3 md-light def-card-icon">monetization_on</mat-icon>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="mt30 form-pd">
                <h5>Online Payment</h5>
                <div class="row">
                    <div class="col-md-12">
                        <form class='mt15'>
                            <div class="form-group mb30">
                                <mat-form-field class="def-input">
                                    <input matInput placeholder="Account" disabled [value]="email">
                                </mat-form-field>
                            </div>
                            <div class="form-group mb30">
                                <mat-tab-group>
                                    <mat-tab label="Alipay">
                                        <div class="mt30 mb30 ml15 mr15">
                                            <div *ngIf='isChoose' class="button-row mt30 mb30">
                                                <button mat-raised-button>100 HKD</button>
                                                <button mat-raised-button>200 HKD</button>
                                                <button mat-raised-button>500 HKD</button>
                                                <button mat-raised-button>1000 HKD</button>
                                                <button mat-raised-button (click)='isChoose=false'>自定义金额</button>
                                            </div>
                                            <mat-form-field *ngIf='!isChoose' class="def-input">
                                                <input matInput placeholder="Amount" type="number">
                                                <span matPrefix>$&nbsp;</span>
                                                <span matSuffix>.00</span>
                                            </mat-form-field>
                                            <button mat-raised-button *ngIf='!isChoose' (click)='isChoose=true'>选择金额</button>
                                        </div>
                                    </mat-tab>
                                    <mat-tab label="Paypal">
                                        <div class="mt30 mb30 ml15 mr15">
                                            <div class="button-row mt30 mb30">
                                                <button mat-raised-button>100 HKD</button>
                                                <button mat-raised-button>200 HKD</button>
                                                <button mat-raised-button>500 HKD</button>
                                                <button mat-raised-button>1000 HKD</button>
                                            </div>
                                        </div>
                                    </mat-tab>
                                </mat-tab-group>
                            </div>
                            <div class="form-group mb30">
                                <button mat-raised-button color="primary">Comfirm</button>
                                <button mat-raised-button>Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</section>