.def-card {
    padding: 16px;
}

.table-header {
    padding: 16px 8px;
    font-weight: 300;
    color: #fff;
    width: 86px;
}

.btn-white {
    background-color: #fff;
}

.def-card-icon {
    width: 1em;
    height: 1em;
    line-height: 120%;
}

.def-stepper-header {
    background: linear-gradient(60deg, #26c6da, #00acc1);
    box-shadow: 0 12px 20px -10px rgba(0, 188, 212, .28), 0 4px 20px 0 rgba(0, 0, 0, .12), 0 7px 8px -5px rgba(0, 188, 212, .2);
    height: 40px;
    border-radius: 3px;
    color: #fff;
}