.def-card {
    padding: 16px;
}

.table-header {
    padding: 16px 8px;
    font-weight: 300;
    color: #fff;
}

.btn-white {
    background-color: #fff;
}

.mat-table {
    overflow: auto;
    max-height: 600px;
}

.def-thead {
    color: #00acc1;
    font-size: 1em;
}

.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}