<section class="row">
    <div class="col-md-10 offset-1 mt30">
        <div class="row">
            <div class="col-md-11">
                <mat-form-field class="def-input">
                    <input matInput placeholder="Callback URL">
                </mat-form-field>
            </div>
            <div class="col-md-1">
                <button mat-mini-fab class='btn-white'>
                    <mat-icon>search</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-10 offset-1 mt30">
        <mat-card class="def-card">
            <mat-card-content class="mt30 form-pd">
                <h5>Callback Method</h5>
                <div class="row">
                    <div class="col-md-12">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Request Method</td>
                                    <td>HTTP GET</td>
                                </tr>
                                <tr>
                                    <td>Callback URL</td>
                                    <td>The customer can specify a callback URL</td>
                                </tr>
                                <tr>
                                    <td>Example</td>
                                    <td>http://USER_CALLBACK_URL?type=dlr&messageid=MESSAGE_ID&to=6588888888&status=0&statuscode=delivered&errcode=1&network=52099
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</section>