.def-input {
    width: 100%;
}

.btn-white {
    background-color: #fff;
}

.def-td {
    min-width: 130px
}

.break-td {
    word-break: break-word;
}

.def-card {
    padding: 16px;
}

.table-header {
    padding: 16px 8px;
    font-weight: 300;
    color: #fff;
    width: 86px;
}

.def-card-icon {
    width: 1em;
    height: 1em;
    line-height: 120%;
}