<ng-container>
    <mat-toolbar class="page-header">
        <a href="javascript:void(0);" class="title">PaaSoo</a>
        <button mat-icon-button class="white" (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        <span class="spacer"></span>
        <button mat-icon-button class="white">
                <mat-icon>favorite</mat-icon>
            </button>
        <button mat-icon-button class="white">
                <mat-icon>favorite</mat-icon>
            </button>
    </mat-toolbar>

    <mat-sidenav-container class="page-container">
        <mat-sidenav #sidenav mode="side" opened="true" class="page-sidenav">
            <app-nav></app-nav>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>

    <mat-toolbar class="page-footer">
        <small class="text-center">Paasoo technology limited.</small>
    </mat-toolbar>
</ng-container>