$bgColor: #f2f2f2;
$white: #fff;
.page-container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0;
    right: 0;
}

.page-wrapper {
    padding: 0 20px 20px;
}

.page-sidenav {
    display: flex;
    width: 250px;
    background: url('../assets/images/bg.png') no-repeat top;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, .42), 0 4px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
}

.icon {
    padding: 0 14px;
}

.title {
    outline: none;
    color: $white;
    font-weight: 600;
    font-size: 1.2em;
    text-decoration: none;
    width: 8em;
    padding-left: 1em;
}

.page-footer {
    position: fixed;
    height: 40px;
    bottom: 0;
    left: 0;
    right: 0;
}