<!-- breadcrumb #S -->
<div class='row mb15'>
    <div class='col-lg-6 col-md-6 col-sm-12'>

        <ol class="def-breadcrumb">
            <li>
                <button mat-mini-fab class='nav-switch'>
                    <i class="material-icons md-24">more_vert</i>
                </button>
                <span>{{getTitle()}}</span>

            </li>
            <li style="margin-left: 3.8em">{{subMenuName}}</li>
        </ol>
    </div>
    <div class='col-lg-6 col-md-6 col-sm-12'>
        <ul class='row headline'>
            <li class='col-md-12 text-right pr-0'>
                <mat-form-field class="mr15">
                    <mat-select [(value)]="selected">
                        <mat-option *ngFor="let api of apiItems" [value]="api.value">
                            {{ api.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <button class="mr15" mat-icon-button [matMenuTriggerFor]="lang">
                    <mat-icon>language</mat-icon>
                </button>
                <mat-menu #lang>
                    <button mat-menu-item (click)="useLanguage('en')">
                        <span>English</span>
                    </button>
                    <button mat-menu-item (click)="useLanguage('zh')">
                        <span>中文(简)</span>
                    </button>
                    <button mat-menu-item>
                        <span>日本語</span>
                    </button>
                </mat-menu>

                <button class="mr15" mat-icon-button [matMenuTriggerFor]="account">
                    <mat-icon>person</mat-icon>
                </button>
                <mat-menu #account>
                    <div class="pd20">
                        <h6>Hello,</h6>
                        <h6 class="mb15">hana.jiang@paasoo.com</h6>
                        <button mat-raised-button>Account</button>
                        <button mat-raised-button color="primary">Log out</button>
                    </div>
                </mat-menu>
            </li>
            <li class='col-md-12 text-right pr-0'>
                <span class="user-info"><span class="text-gray">Balance:</span> 10000.830 CNY &nbsp;&nbsp;<span class="text-gray">Credit Limit:</span> -10000.000 CNY</span>
            </li>
        </ul>
    </div>
</div>
<!-- breadcrumb #E -->