<!-- breadcrumb #S -->
<div class='row mb15'>
    <div class='col-lg-6 col-md-6 col-sm-12'>

        <ol class="def-breadcrumb">
            <li>
                <button mat-mini-fab class='nav-switch'>
                    <mat-icon>more_vert</mat-icon>
                </button>
                <span>{{getTitle()}}</span>
            </li>
            <li style="margin-left: 3.8em">{{subMenuName}}</li>
        </ol>
    </div>
    <div class='col-lg-6 col-md-6 col-sm-12'>
        <ul class='row headline'>
            <li class='col-md-12 text-right'>
                <mat-form-field class="mr15">
                    <mat-select [(value)]="selected">
                        <mat-option *ngFor="let api of apiItems" [value]="api.value">
                            {{ api.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button class="mr15" mat-icon-button [matMenuTriggerFor]="lang">
                    <mat-icon>language</mat-icon>
                </button>
                <mat-menu #lang="matMenu" disabled>
                    <button mat-menu-item>
                    <span>English</span>
                </button>
                    <button mat-menu-item>
                    <span>中文(简)</span>
                </button>
                    <button mat-menu-item>
                    <span>日本語</span>
                </button>
                </mat-menu>

                <button class="mr15" mat-icon-button [matMenuTriggerFor]="account">
                    <mat-icon>perm_identity</mat-icon>
                </button>
                <mat-menu #account="matMenu">
                    <button mat-menu-item>
                        <mat-icon>dialpad</mat-icon>
                        <span>Redial</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>voicemail</mat-icon>
                        <span>Check voicemail</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>notifications_off</mat-icon>
                        <span>Disable alerts</span>
                    </button>
                </mat-menu>
            </li>
            <li class='col-md-12 text-right'>
                <span class="user-info">Balance: 10000.830 CNY / Credit Limit: -10000.000 CNY</span>
            </li>
        </ul>
    </div>
</div>
<!-- breadcrumb #E -->