<section class="row">
    <div class="col-md-12 mb30">
        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Time">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <input type="text" placeholder="country" matInput [formControl]="country" [matAutocomplete]="auto">
        </mat-form-field>
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of selections" [value]="option">
                {{ option }}
            </mat-option>
        </mat-autocomplete>
        <button mat-mini-fab class='btn-white'>
            <mat-icon>search</mat-icon>
        </button>
    </div>
    <div class="col-md-12 mb30">
        <mat-card class="mb30 mt15 def-card">
            <mat-card-header class="header-pink def-card-header table-header">
                <mat-card-title>
                    <h5>Daily Cost</h5>
                    Daily Cost for 2018-04-11
                </mat-card-title>
            </mat-card-header>

            <mat-table #table [dataSource]="dataSource" class="mt15">

                <!-- Position Column -->
                <ng-container matColumnDef="position">
                    <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="weight">
                    <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol">
                    <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"></mat-paginator>

        </mat-card>
    </div>
    <div class="col-md-12">
        <mat-card class="mb30 mt15 def-card">
            <mat-card-header class="header-orange def-card-header table-header">
                <mat-card-title>
                    <h5>Daily Cost</h5>
                    Cost Overview for the last 7 days
                </mat-card-title>
            </mat-card-header>
            <div echarts [options]="options" class="demo-chart"></div>
        </mat-card>
    </div>
</section>