.status-item {
    font-size: 14px;
    width: 100%;
}

.def-card {
    padding: 16px;
}

.table-header {
    padding: 15px 7px;
    font-weight: 300;
    color: #fff;
}

.btn-white {
    background-color: #fff;
}

.def-thead {
    color: #00acc1;
    font-size: 1em;
}