<section class="row">
    <div class="col-md-12 mb15">
        <mat-form-field>
            <input matInput placeholder="Message ID">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Destination Number">
        </mat-form-field>
        <mat-form-field>
            <input matInput [matDatepicker]="start" placeholder="Min date">
            <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
            <mat-datepicker #start></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <input matInput [matDatepicker]="end" placeholder="Max date">
            <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
            <mat-datepicker #end></mat-datepicker>
        </mat-form-field>
        <button mat-mini-fab class='btn-white'>
            <mat-icon>search</mat-icon>
        </button>
    </div>
    <div class="col-md-12 mb30">
        <button mat-raised-button>Download</button>
    </div>
    <div class="col-md-12 mb30">
        <mat-card class="mb30 mt15 def-card">
            <mat-card-header class="header-blue def-card-header table-header">
                <mat-card-title>
                    <h5>Data search</h5>
                    Cost Analysis for 2018-04
                </mat-card-title>
            </mat-card-header>
            <div class='card-content mt15'>
                <div class='col-md-4 offset-8'>
                    <mat-form-field class="status-item">
                        <mat-select placeholder="Status" [formControl]="toppings" multiple>
                            <mat-option *ngFor="let topping of toppingList" [value]="topping.value">{{topping.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <mat-table #table [dataSource]="dataSource">

                    <ng-container matColumnDef="mId">
                        <mat-header-cell *matHeaderCellDef class="def-thead"> Message ID </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.mId}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="destinations">
                        <mat-header-cell *matHeaderCellDef class="def-thead"> Destinations </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.destinations}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="networkName">
                        <mat-header-cell *matHeaderCellDef class="def-thead"> Network Name </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.networkName}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="networkCode">
                        <mat-header-cell *matHeaderCellDef class="def-thead"> Network Code </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.networkCode}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="message">
                        <mat-header-cell *matHeaderCellDef class="def-thead"> Messages </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.message}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="sId">
                        <mat-header-cell *matHeaderCellDef class="def-thead"> SenderID </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.sId}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="deNumber">
                        <mat-header-cell *matHeaderCellDef class="def-thead"> Destination Number </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.deNumber}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="cost">
                        <mat-header-cell *matHeaderCellDef class="def-thead"> Cost (CNY) </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.cost}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef class="def-thead"> Status </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="time">
                        <mat-header-cell *matHeaderCellDef class="def-thead"> Time(UTC) </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.time}} </mat-cell>
                    </ng-container>

                    <!-- <ng-container>
                        <mat-header-cell class="def-thead"> Details </mat-header-cell>
                        <mat-cell>
                            <button mat-icon-button>
                                <mat-icon aria-label="more">more</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container> -->

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"></mat-paginator>

            </div>
        </mat-card>
    </div>
</section>