<section class="row">
    <div class="col-md-12 mb30">
        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Time">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Country" aria-label="Country" [matAutocomplete]="auto" [formControl]="stateCtrl">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
                    <img style="vertical-align:middle;" aria-hidden src="{{state.flag}}" height="25" />
                    <span>{{ state.name }}</span>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <button mat-mini-fab class='btn-white'>
            <mat-icon>search</mat-icon>
        </button>
    </div>
    <div class="col-md-12 mb30">
        <mat-card class="mb30 mt15 def-card">
            <mat-card-header class="header-blue def-card-header table-header">
                <mat-card-title>
                    <h5>Monthly Cost</h5>
                    Monthly Cost for 2018-04
                </mat-card-title>
            </mat-card-header>
            <mat-table #table [dataSource]="dataSource" class="mt15">

                <ng-container matColumnDef="position">
                    <mat-header-cell class="def-thead" *matHeaderCellDef> No. </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="country">
                    <mat-header-cell class="def-thead" *matHeaderCellDef> Country </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.country}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="networkName">
                    <mat-header-cell class="def-thead" *matHeaderCellDef> Network Name </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.networkName}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="network">
                    <mat-header-cell class="def-thead" *matHeaderCellDef> Network Code </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.network}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="message">
                    <mat-header-cell class="def-thead" *matHeaderCellDef> Messages </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.message}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="cost">
                    <mat-header-cell class="def-thead" *matHeaderCellDef> Cost(CNY) </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.cost}} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"></mat-paginator>

        </mat-card>
    </div>
    <div class="col-md-12">
        <mat-card class="mb30 mt15 def-card">
            <mat-card-header class="header-pink def-card-header chart-header">
                <mat-card-title>
                    <mat-icon class="md-3 md-light def-card-icon">equalizer</mat-icon>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="mt30 form-pd">
                <h5>Top 10 Destinations</h5>
                <div echarts [options]="options" class="demo-chart"></div>
            </mat-card-content>
        </mat-card>
    </div>
</section>