.page-wrapper {
    padding: 1.6em;
}

.def-card {
    padding: 16px;
}

.table-header {
    padding: 16px 8px;
    font-weight: 300;
    color: #fff;
}

.btn-white {
    background-color: #fff;
}

.def-thead {
    color: #00acc1;
    font-size: 1em;
}

.chart-header {
    padding: 16px 8px;
    font-weight: 300;
    color: #fff;
    width: 86px;
}