<section class="row">
    <div class="col-md-12 mb30">
        <mat-form-field>
            <mat-select [(value)]="time">
                <mat-option *ngFor="let item of timeType" [value]="item.value">
                    {{ item.text }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="col-md-12">
        <mat-card class="mb30 mt15 def-card">
            <mat-card-header class="header-blue def-card-header table-header">
                <mat-card-title>
                    <h5>Overview</h5>
                    Cost Overview for the last 7 days
                </mat-card-title>
            </mat-card-header>
            <mat-table #table [dataSource]="dataSource" class="mt15">
                <ng-container matColumnDef="date">
                    <mat-header-cell class="def-thead" *matHeaderCellDef> Date </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="message">
                    <mat-header-cell class="def-thead" *matHeaderCellDef> Message </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.message}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="cost">
                    <mat-header-cell class="def-thead" *matHeaderCellDef> Cost(CNY) </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.cost}} </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"></mat-paginator>
        </mat-card>
    </div>
    <div class="col-md-12">
        <mat-card class="mb30 mt15 def-card">
            <mat-card-header class="header-pink def-card-header chart-header">
                <mat-card-title>
                    <mat-icon class="md-3 md-light def-card-icon">equalizer</mat-icon>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="mt30 form-pd">
                <h5>Top 10 Destinations</h5>
                <div echarts [options]="options" class="demo-chart"></div>
            </mat-card-content>
        </mat-card>
    </div>
</section>